@mixin button-icon {
  z-index: 2;
  width: 40px;
  height: 40px;
  border: 0;
  outline: none;
  background: none;
  color: $color-white;
  text-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

$color-white: #fff;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/**
 * Inspiration List
 */

$inspirations-gutter: 2px;
.inspirations {
  display: flex;
  padding: $inspirations-gutter;

  flex-wrap: wrap;
  user-select: none;
  &__item {
    flex: 1 0 50%;
    padding: $inspirations-gutter;
  }
  &__thumbnail {
    position: relative;
    overflow: hidden;
    a {
      display: block;
      padding-top: 100%;
    }
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}


/**
 * HBK Modal
 */

.hbk-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: block;
  background: $color-white;

  &__content {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  &__close {
    position: absolute;
    top: 0;
    left: 0;

    @include button-icon;
  }
}

.viewer-thumbnail {
  &,
  &__image {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.viewer-fullscreen {
  position: absolute;
  top: 0;
  right: 0;

  @include button-icon;
}

/**
 * HBK Modal
 */

.hbk-slider {
  width: 100vw;

  &__content {
    display: flex;

    flex-wrap: nowrap;
  }
}
